body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #2d2d2d;
    line-height: 1.6;
    background-image: url(images/bodybg.jpg);
    background-size: cover;
}

header {
    padding: 25px;
    background-image: url(images/headerbg.avif);
    background-size: cover;
}

.site-name {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

nav {
    padding: 12px 30px;
    background-color: #2d2d2d;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #9693ce;
    text-decoration: none;
    padding: 16px;
}

nav a:hover,
nav a:focus {
    color: #5c53dd;
    text-decoration: underline;
}

main {
    max-width: 1000px;
    width: 40%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.925);
    padding: 30px 450px;
}

section {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    padding: 20px 30px;
    color: #ffffff;
    background-color: #2d2d2d;
}

.footer-text{
    align-self: center;
    justify-self: center;
}

h1, p, h2, figcaption {
    color: white;
}

img {
    border: 0.1px solid rgba(255, 255, 255, 0.507);
}

.current-page {
    color: #2d2d2d;
    font-weight: bold;
    background-color: #bb64dd;
}

form {
    color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact {
    width: 100%;
    display: flex;
}

.fullname {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.fullname div{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.contactinfo {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.contactinfo div {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.message-box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.subscribe-check {
    display: flex;
    flex-direction: row;
}

.email-field{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.phone-field{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.equiry-field {
    display: flex;
    margin: 15px 0;
}

fieldset {
    margin: 15px;
}

.submit-button{
    width: 100px;
    color: blueviolet;
    border-radius: 15px;
    padding: 5px 0;
    font-weight: 700;
}

input {
    padding: 5px 0 0 0;
}

input:focus, input:target, input:hover{
    border: 0.1px solid violet;
}

textarea:focus, textarea:target, textarea:hover{
    border: 0.1px solid violet;
}

input[type="radio"]{
    accent-color: blueviolet;
    margin: 0 5px;
}

select{
    color: blueviolet;
    background-color:rgb(32, 7, 56);
    font-weight:700;
    margin: 0 10px;
}