body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}


header {
    width: 100%;
    height: auto;
    background-color: rgb(41, 141, 54);
    border-bottom: 1px solid rgb(0, 0, 0);
}

header p{
    color:rgb(82, 42, 82);
    text-align: center;
    font-weight: bolder;
}

main {
    width: 100%;
    height: auto;
    background-color: rgb(204, 104, 104);
    flex: 1;
    background-image: url(/week-01-website/assets/images/section\ 2.jpg);
    background-size: cover;
}

main p{
    color: rgb(255, 0, 85);
    text-align: center;
    font-weight: bolder;
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(112, 106, 194);
    align-content: center;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-top: 1px solid rgb(0, 0, 0);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.links a {
    color: yellow;
    text-decoration: none;
    font-weight: bolder;
}

.links p{
    color: white;
    text-align: center;
    font-weight: bolder;
}

h1, h2 {
    color: white;
    text-align: center;
}